*{overflow: hidden; font-family: "ABeeZee"; margin: 0 auto;}

#entrance {width: 100%; background-color: brown; padding: 1%; color: white; text-align: center; font-size: 350%;}
#start-button {width: 30%; background-color: 20,20,20,1; font-size: 350%; text-align: center;}
